#Actividades {
    /* height: 100vh; */

    padding-bottom: 150px;
    padding-top: 50px;

    position: relative;
    z-index: 2;
}

#Actividades .Lista {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 250px;

    /* padding-left: 10px; */

}

#Actividades .Lista .actividad {
    height: 300px;
    width: 300px;

    position: relative;
}

#Actividades .Lista .actividad .imgcontainer {
    height: 100%;
    width: auto;

    border-radius: 50%;

    overflow: hidden;
}

#Actividades .Lista .actividad img {
    height: 100%;
    width: auto;
}

#Actividades .Lista .actividad .descripcion {
    height: 250px;
    width: 200px;

    padding: 50px;

    border-radius: 50px;

    color: var(--Principal);

    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.2);
    /* border-radius: 16px; */
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);

    position: absolute;
    bottom: -150px;
    left: -150px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#Actividades .Lista .actividad .descripcion svg{
    height: 70px;
    width: 70px;
}

#Actividades .Lista .actividad .descripcion button{
    height: 30px;
    width: 100%;

    margin-top: 20px;
    padding: 0;

    font-weight: 800;

    background-color: var(--Acento2);
    color: var(--Oscuro);

    border-style: hidden;
    border-radius: 50px;
}