#Header {
    position: relative;
    height: 100vh;
    width: 100%;

    background-color: var(--Principal);
    /* background-color: #2BFC3D; */

    overflow: hidden;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


}

#Header .fondo{
    position: absolute;

    opacity: 20%;

    /* height: 100%; */
    height: auto;
    width: 100%;

    z-index: 1;
}

#Header .logo{
    height: 200px;

    z-index: 2;
}


@media (max-width: 500px) {
    #Header .fondo{
        height: 100%;
        width: auto;
    }
    #Header .logo{
        height: 150px;
    
        z-index: 2;
    }
}
