nav {
    position: fixed;
    top: 0;
    z-index: 10;

    width: 100%;
    height: fit-content;

    padding-top: 25px;

    display: flex;
    justify-content: space-around;
}

nav div{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    gap: 50px;
}