#Sponsors {
    padding-top: 50px;
    background-color: #95B141;
}

#Sponsors h2 {
    text-align: center;
    font-size: 2.5rem;
    color: #fff;
    margin-bottom: 50px;
}

#Sponsors .sponsors{
    margin-top: 100px;
}
#Sponsors .sponsors .imgs{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
#Sponsors .sponsors.Diamante img{
    height: 200px;
    width: 200px;
}
#Sponsors .sponsors.oro img{
    height: 100px;
    width: 100px;
}
#Sponsors .sponsors.plata img{
    height: 50px;
    width: 50px;
}